.main{
  background-color: rgb(209, 248, 248);
}
.content:hover{
  border: 2px solid rgb(120, 252, 120);
}
.content1 .content{
  height: 500px;
  cursor: pointer;
  background-color: white;
  padding-top: 5%;
}
.content1{
  background-color: white;
}
.content2:hover{
  border: 2px solid rgb(120, 252, 120);
}
.content3 .content2{
  height: 550px;
  cursor: pointer;
  background-color: white;
  padding-top: 5%;
}
.content2{
  background-color: white;
}
