.main {
  background-color: rgb(209, 248, 248);

}

.content:hover{
  border: 3px solid rgb(106, 246, 106);
}

.content1 .content {
  cursor: pointer;
  background-color: white;
  padding-top: 5%;

}

.content1 {
  background-color: white;

}

.content1 {
  height: 400px;
  padding: 40px;
  margin: 10px;
}

.icon {
  list-style-type: none;
  text-align: left;


}

.poss {
  position: relative;
}